/*--*
{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}


div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 3px dashed black ;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
} 

<!--div is ny default block typed, so it always occupy the right side margin*/

*
{
    margin: 0;
    color:white;

}

#navbar
{
    height:60px;
    background-color:black;
}

button{
    background-color: orange;
}
a{
    margin-right: 200px;
}

